@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 0px solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
}

/* .head2{
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h2 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 100%;
  height: 100%;
} */

/* 
// aligh items center
// justify content space-around
// flex-direction column
// align-items center
// justify-content center
// flex-direction column
// align-items center */

.message1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  width: 100%;
  height: 70vh;
}

.number {
  background: #eee;
  color: #333;
  /* color: #eee; */
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

/* Responsive tweaks */
img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  header {
    height: auto;
    padding: 1.2rem;
  }

  main {
    height: auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1.6rem;
    padding: 1.6rem;
  }

  .left,
  .right {
    width: 100%;
  }

  .right {
    font-size: 1.6rem;
  }

  .message1 {
    font-size: 3.2rem;
    height: auto;
    min-height: 8rem;
    padding: 1rem 0;
  }

  .guess {
    font-size: 2.4rem;
    width: 100%;
    max-width: 22rem;
  }

  .btn {
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  header {
    height: 25vh;
  }

  main {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;
  }

  .left,
  .right {
    width: 100%;
    max-width: 60rem;
  }

  .right {
    font-size: 1.8rem;
  }

  .message1 {
    font-size: 4.8rem;
    height: auto;
    min-height: 10rem;
  }

  .guess {
    font-size: 3rem;
    max-width: 28rem;
  }

  .btn {
    font-size: 1.8rem;
    padding: 1.4rem 2rem;
  }
}
